# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib
# eclipse specific git ignore
.metadata/
RemoteSystemsTempFiles/
Debug/
/Debug
*.launch

# Binaries
build/
bin/
*.o
*.elf
*.elf.launch
*.hex
*.bin
*.map

# VS Code
.vscode/
*.d
*.su
*.mk
.settings/language.settings.xml
